slides > slide {
  overflow-x: auto !important;
  overflow-y: auto !important;
}

.gdbar img {
  width: 200px !important;
  height: 110px !important;
  margin: 10px 10px;
}

.gdbar {
  width: 250px !important;
  height: 130px !important;
}

slides > slide:not(.nobackground):before {
  width: 90px;
  height: 50px;
  background-size: 100px 60px;
}

.emphasized {
  font-size: 1.5em;
  /* color: black; */
  text-align: center;
  position: fixed;
  top: 50%;
  left 50%;
  transform: translate(-50%, 50%);
}